.direnv
dist-newstyle
www/circuit_final.zkey
www/circuit.wasm
www/circuit.bin
output
.spago
.purs-repl
node_modules
dist/
site/
.parcel-cache/
.psc-ide-port
.vscode
build/
trusted-setup/
!trusted-setup/pot14_final.ptau
src/Contracts
contracts
circuit.dot
